<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Lalli Lottó</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Lalli Lottó</h1>
	<form name="Item_1" action="results.html" method='POST'>
	    <select name="Item_1">
		<option value="35">35</option>
		<option value="40">40</option>        
		<option value="45">45</option>        
	    </select>
	    <button type="submit">Calculate!</button>
	</form>
    </body>
</html>
